    /* FONTS */
    @font-face {
        font-family: 'rainyhearts'; 
        src: url("../fonts/rainyhearts.ttf") format('truetype');
        font-style: normal;
    }
    @font-face {
        font-family: 'fipps';
        src: url('../fonts/Fipps-Regular.otf');
        font-style: normal;
    }
/* FONTS */
